/* line 4, ../sass/style.scss */
.box {
  color: #2ca2af;
}

/* line 7, ../sass/style.scss */
body {
  color: #1c666e;
}

/* line 10, ../sass/style.scss */
ul {
  background-color: #3bbfce;
}

/* line 14, ../sass/style.scss */
ul > li {
  color: #b5e7ed;
}
